html, body, div, span, applet, object, iframe,
h1, h2, h3, .services p, .team span, .team p, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:after, *:before {
  box-sizing: border-box; }

section {
  padding: 100px 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

img {
  width: 100%;
  height: auto; }

.container {
  width: 90%;
  margin: 0 auto; }

@media (min-width: 1360px) {
  .container {
    width: 90%;
    margin: 0 auto; } }

@media (min-width: 1560px) {
  .container {
    width: 75%;
    margin: 0 auto; } }

body {
  color: #000000;
  font: 300 13px "Quicksand", sans-serif; }

header {
  padding: 30px 0 35px 0;
  background: #ff5959;
  width: 100%;
  min-height: 110px; }
  header .logo {
    display: inline-block;
    float: left; }
    header .logo img {
      width: 150px;
      height: auto; }
    header .logo a {
      color: #ffffff;
      font: 700 14px "Quicksand", sans-serif;
      display: block; }

.nav {
  display: flex;
  justify-content: flex-end; }

.nav li a,
#touch-menu {
  display: block;
  padding: 15px;
  color: #ffffff;
  font: 700 14px "Quicksand", sans-serif; }

.nav li a:hover {
  color: #ffffff;
  background: #fc7d7d;
  border-radius: 10px 9px 9px 10px;
  text-decoration: none;
  transition: all .3s ease-in-out; }

#touch-menu:hover {
  color: #ffffff; }

#touch-menu {
  display: none; }

.hero {
  width: 100%;
  min-height: 760px; }
  .hero .flex-box {
    min-height: 760px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center; }
    .hero .flex-box .col-1 {
      order: 2;
      flex: 0 1 450px;
      text-align: center; }
      .hero .flex-box .col-1 h2 {
        color: #000000;
        font: 700 24px "Quicksand", sans-serif; }
      .hero .flex-box .col-1 p {
        padding: 30px 0;
        color: #000000;
        font: 400 13px "Quicksand", sans-serif; }
    .hero .flex-box .col-2 {
      order: 1; }
      .hero .flex-box .col-2 img {
        max-width: 470px;
        height: auto; }

.services {
  background: #e8e8e8;
  width: 100%;
  min-height: 550px; }
  .services .flex-box {
    min-height: 550px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .services .flex-box .col-1, .services .flex-box .col-2, .services .flex-box .col-3 {
      flex: 0 1 350px; }
  .services img {
    margin: 55px 0 15px 0;
    width: 120px;
    height: auto; }
  .services h3, .services p, .services .team span, .team .services span {
    color: #000000;
    font: 400 24px "Quicksand", sans-serif; }
  .services p {
    font-size: 13px;
    padding-top: 20px; }

h2.title {
  color: #000000;
  font: 400 30px/49px "Quicksand", sans-serif;
  text-align: center; }

.portfolio {
  width: 100%;
  min-height: 905px;
  background: #ff5959; }
  .portfolio .title {
    color: #ffffff; }
  .portfolio .flex-box-1 {
    min-height: 290px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center; }
  .portfolio .col-1, .portfolio .col-2 {
    position: relative;
    width: 570px;
    height: auto;
    overflow: hidden; }
    .portfolio .col-1:hover .overlay, .portfolio .col-2:hover .overlay {
      display: block; }
    .portfolio .col-1 .overlay, .portfolio .col-2 .overlay {
      display: none;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 89, 89, 0.6); }
  .portfolio .flex-box-2 {
    margin-top: 20px;
    min-height: 500px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
    .portfolio .flex-box-2 img {
      max-width: 270px;
      height: auto; }

.team {
  width: 100%;
  background: #e8e8e8; }
  .team .flex-box {
    min-height: 755px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .team .flex-box .col-1, .team .flex-box .col-2, .team .flex-box .col-3, .team .flex-box .col-4 {
      width: 270px;
      margin-bottom: 40px; }
      .team .flex-box .col-1 .fa, .team .flex-box .col-2 .fa, .team .flex-box .col-3 .fa, .team .flex-box .col-4 .fa {
        width: 30px;
        height: 30px;
        padding: 10px 15px 15px 10px;
        margin-right: 5px;
        border-radius: 50%;
        color: #ffffff;
        font-size: 12px; }
      .team .flex-box .col-1 .fa-twitter, .team .flex-box .col-2 .fa-twitter, .team .flex-box .col-3 .fa-twitter, .team .flex-box .col-4 .fa-twitter {
        background: #7acdf1; }
      .team .flex-box .col-1 .fa-pinterest, .team .flex-box .col-2 .fa-pinterest, .team .flex-box .col-3 .fa-pinterest, .team .flex-box .col-4 .fa-pinterest {
        background: #eb5756; }
      .team .flex-box .col-1 .fa-facebook, .team .flex-box .col-2 .fa-facebook, .team .flex-box .col-3 .fa-facebook, .team .flex-box .col-4 .fa-facebook {
        background: #547bbd; }
      .team .flex-box .col-1 .fa-google-plus, .team .flex-box .col-2 .fa-google-plus, .team .flex-box .col-3 .fa-google-plus, .team .flex-box .col-4 .fa-google-plus {
        background: #4c4c4c; }
      .team .flex-box .col-1 .fa-linkedin, .team .flex-box .col-2 .fa-linkedin, .team .flex-box .col-3 .fa-linkedin, .team .flex-box .col-4 .fa-linkedin {
        background: #1385c8; }
    .team .flex-box .col-4 {
      margin-right: 0; }
  .team img {
    margin-bottom: 15px;
    max-width: 270px;
    height: auto; }
  .team h3, .team span, .team p {
    font: 700 24px "Quicksand", sans-serif; }
  .team span {
    font: 300 16px "Quicksand", sans-serif; }
  .team p {
    padding: 20px 0 10px 0;
    font: 300 13px "Quicksand", sans-serif; }
  .team .social-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center; }

.news {
  width: 100%;
  background: #ff5959; }
  .news .title {
    color: #ffffff; }
  .news .flex-box {
    min-height: 730px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center; }
    .news .flex-box .col-1, .news .flex-box .col-2 {
      margin-bottom: 50px; }
    .news .flex-box .col-1, .news .flex-box .col-2, .news .flex-box .col-3 {
      flex: 0 1 370px;
      height: auto; }
  .news img {
    max-width: 370px;
    height: auto; }
  .news h3, .news .services p, .services .news p, .news .team span, .team .news span, .news .team p, .team .news p {
    color: #ffffff;
    font: 700 18px/24px "Quicksand", sans-serif; }
  .news span {
    color: #ffffff;
    font: 300 16px/24px "Quicksand", sans-serif; }
  .news p {
    padding: 15px 0 10px 0;
    color: #ffffff;
    font: 300 13px "Quicksand", sans-serif; }
  .news ul li {
    padding-right: 40px;
    display: inline-block; }
  .news ul .fa {
    padding-right: 15px; }
  .news ul a {
    color: #ffffff; }

.contact {
  width: 100%;
  background: #e8e8e8; }
  .contact .flex-box {
    min-height: 555px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center; }
    .contact .flex-box .col-1 {
      margin-right: 35px; }
    .contact .flex-box .col-1, .contact .flex-box .col-2 {
      flex: 0 1 570px;
      margin: 0 auto;
      height: auto; }
    .contact .flex-box h3, .contact .flex-box .services p, .services .contact .flex-box p, .contact .flex-box .team span, .team .contact .flex-box span, .contact .flex-box .team p, .team .contact .flex-box p {
      font: 400 24px "Quicksand", sans-serif; }
    .contact .flex-box p {
      padding: 20px 0;
      font: 300 13px "Quicksand", sans-serif; }
  .contact .location {
    font: 300 13px/28px "Quicksand", sans-serif; }
    .contact .location a {
      color: #000000; }
    .contact .location .fa {
      margin-right: 10px;
      font-size: 16px; }

.footer {
  width: 100%;
  background: #ff5959; }
  .footer .flex-box {
    min-height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .footer span {
    color: #ffffff;
    font: 400 13px/18px "Quicksand", sans-serif; }

.box-btn {
  min-height: 110px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; }

.primary-btn {
  display: block;
  width: 170px;
  height: 40px;
  border-radius: 9px;
  background: #ff5959;
  color: #ffffff;
  font: 700 18px/40px "Droid Sans", sans-serif;
  text-align: center;
  text-transform: uppercase; }
  .primary-btn:hover {
    background: #ffffff;
    color: #ff5959;
    transition: all .4s ease-in-out;
    border: 3px solid #ff5959; }

.contact-form input, .contact-form textarea {
  max-width: 565px;
  min-width: 300px;
  width: 100%;
  padding: 15px;
  resize: none;
  outline: none;
  border: none;
  border-radius: 9px; }

.contact-form .form-item {
  margin: 15px 0; }

@media (min-width: 320px) and (max-width: 970px) {
  .nav {
    display: none; }
    .nav li a {
      background: #ffffff;
      border-top: 1px solid #eee;
      color: #000000; }
      .nav li a:hover {
        color: #ffffff;
        border-left: 3px solid #ff5959;
        border-radius: none; }
  .nav li:first-child a {
    border-top: none; }
  #touch-menu {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    text-decoration: none; }
    #touch-menu .fa-bars {
      font-size: 22px; } }

@media (min-width: 375px) and (max-width: 1070px) {
  .box-btn {
    justify-content: space-around; } }

@media (min-width: 1070px) and (max-width: 2880px) {
  .hero .flex-box .col-1 {
    order: 1;
    margin-right: 20px;
    text-align: left; }
  .hero .flex-box .col-2 {
    order: 2; }
  .box-btn {
    justify-content: flex-start; }
    .box-btn li {
      margin-right: 20px; } }

@media (min-width: 750px) and (max-width: 2880px) {
  .services .flex-box .col-1, .services .flex-box .col-2 {
    margin-right: 50px; } }

@media (min-width: 580px) and (max-width: 1300px) {
  .portfolio .flex-box-2 {
    width: 580px;
    margin: 0 auto; }
    .portfolio .flex-box-2 .col-3, .portfolio .flex-box-2 .col-4, .portfolio .flex-box-2 .col-5, .portfolio .flex-box-2 .col-6 {
      margin: 10px;
      flex: 0 1 270px; } }

@media (min-width: 1260px) and (max-width: 2880px) {
  .portfolio .flex-box-1 .col-1 {
    margin-right: 30px; }
  .portfolio .flex-box-2 {
    justify-content: center; }
    .portfolio .flex-box-2 .col-3, .portfolio .flex-box-2 .col-4, .portfolio .flex-box-2 .col-5 {
      margin-right: 30px; }
    .portfolio .flex-box-2 .col-3, .portfolio .flex-box-2 .col-4, .portfolio .flex-box-2 .col-5, .portfolio .flex-box-2 .col-6 {
      flex: 0 1 270px; } }

@media (min-width: 560px) and (max-width: 970px) {
  .team .flex-box {
    width: 400px;
    margin: 0 auto; } }

@media (min-width: 970px) and (max-width: 1360px) {
  .team .flex-box {
    width: 700px;
    margin: 55px auto 0 auto;
    justify-content: space-around; } }

@media (min-width: 1360px) and (max-width: 2880px) {
  .team .flex-box {
    justify-content: center; }
    .team .flex-box .col-1, .team .flex-box .col-2, .team .flex-box .col-3 {
      margin-right: 35px; } }

@media (min-width: 820px) and (max-width: 1250px) {
  .news .flex-box {
    width: 340px;
    margin: 55px auto 0 auto;
    justify-content: space-around; } }

@media (min-width: 1250px) and (max-width: 2880px) {
  .news .flex-box {
    justify-content: center; }
    .news .flex-box .col-1, .news .flex-box .col-2 {
      margin-right: 35px; } }

@media (min-width: 1370px) and (max-width: 2880px) {
  .contact .flex-box {
    width: 1170px;
    margin: 0 auto; } }

.services .title:after, .team .title:after, .contact .title:after {
  content: ' ';
  display: block;
  max-width: 380px;
  min-width: 300px;
  width: 100%;
  height: 10px;
  margin: 10px auto 0 auto;
  background: url("../../img/delimiter.png") no-repeat; }

.portfolio .title:after, .news .title:after {
  content: ' ';
  display: block;
  max-width: 380px;
  min-width: 300px;
  width: 100%;
  height: 10px;
  margin: 10px auto 0 auto;
  background: url("../../img/top-delimiter-white.png") no-repeat; }
