.box-btn {
	min-height: 110px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}
.primary-btn {
	display: block;
	width: 170px;
	height: 40px;
	border-radius: 9px;
	background: #ff5959;
	color: $secondary_font_color;
	font: 700 18px/40px $secondary_font;
	text-align: center;
	text-transform: uppercase;

	&:hover {
		background: $secondary_font_color;
		color: $origin_font_color;
		transition: all .4s ease-in-out;
		border: 3px solid $origin_font_color;
	}
}