//==================HEADER===========================================//
@media (min-width: 320px) and (max-width: 970px) {
	.nav {display: none;
		li a {
			background: $secondary_font_color;
			border-top: 1px solid #eee;
			color: $primary_font_color;

			&:hover {
				color: $secondary_font_color;
				border-left: 3px solid #ff5959;
				border-radius: none;
			}
		}
	}
	.nav li:first-child a {border-top: none;}
	#touch-menu {
		display: flex;
		justify-content: flex-end;
		margin-top: 20px;
		text-decoration: none;

		.fa-bars {font-size: 22px;}
	}
}
//==================HEADER the END===========================================//
//
//
//==================HERO===========================================//
@media (min-width: 375px) and (max-width: 1070px){
	.box-btn {justify-content: space-around;}
}
@media (min-width: 1070px) and (max-width: 2880px) {
	.hero {
		.flex-box {
			.col-1 {
				order: 1;
				margin-right: 20px;
				text-align: left;
			}
			.col-2 {order: 2;}
		}
	}
	.box-btn {
		justify-content: flex-start;
		li {margin-right: 20px;}
	}
}
//==================HERO the END===========================================//
//
//
//==================SERVICES===========================================//
@media (min-width: 750px) and (max-width: 2880px) {
	.services {
		.flex-box {
			.col-1, .col-2 {margin-right: 50px;}
		}
		img {margin: 0;}
	}
}
//==================SERVICES the END===========================================//
//
//
//==================PORTFOLIO US===========================================//
@media (min-width: 580px) and (max-width: 1300px) {
	.portfolio {
		.flex-box-2 {
			width: 580px;
			margin: 0 auto;
			.col-3, .col-4, .col-5, .col-6 {
				margin: 10px;
				flex: 0 1 270px;
			}
		}
	}
}
@media (min-width: 1260px) and (max-width: 2880px) {
	.portfolio {
		.flex-box-1 {
			.col-1 {margin-right: 30px;}
		}
		.flex-box-2 {justify-content: center;
			.col-3, .col-4, .col-5 {margin-right: 30px;}
			.col-3, .col-4, .col-5, .col-6 {flex: 0 1 270px;}
		}
	}
}
//==================PORTFOLIO US the END===========================================//
//
//
//==================TEAM===========================================//
@media (min-width: 560px) and (max-width: 970px) {
	.team {
		.flex-box {
			width: 400px;
			margin: 55px auto 0 auto;
		}
	}
}
@media (min-width: 970px) and (max-width: 1360px) {
	.team {
		.flex-box {
			width: 700px;
			margin: 55px auto 0 auto;
			justify-content: space-around;
		}
	}
}
@media (min-width: 1360px) and (max-width: 2880px) {
	.team {
		.flex-box {
			justify-content: center;
			.col-1, .col-2, .col-3 {margin-right: 35px;}
		}
	}
}
//==================TEAM the END===========================================//
//
//
//==================NEWS===========================================//
@media (min-width: 820px) and (max-width: 1250px) {
	.news {
		.flex-box {
			width: 340px;
			margin: 55px auto 0 auto;
			justify-content: space-around;
		}
	}
}
@media (min-width: 1250px) and (max-width: 2880px) {
	.news {
		.flex-box {
			justify-content: center;
			.col-1, .col-2 {margin-right: 35px;}
		}
	}
}
//==================NEWS the END===========================================//