.contact {
	width: 100%;
	min-height: 555px;
	background: #e8e8e8;

	.flex-box {
		margin-top: 55px;
		display: flex;
		justify-content: center;

		.col-1 {margin-right: 35px;}

		h3 {
			color: $primary_font_color;
			font: 400 24px $primary_font;
		}
		p {
			padding: 20px 0;
			color: $primary_font_color;
			font: 300 13px $primary_font;
		}
		.location {
			color: $primary_font_color;
			font: 300 13px/28px $primary_font;
		}
		.box-btn {
			margin-top: 45px;
			display: flex;
			justify-content: flex-start;

			a {margin-right: 35px;}
		}
	}
	.contact-form {
		input, textarea {
			width: 565px;
			padding: 15px;
			resize: none;
			outline: none;
			border:  none;
			border-radius: 9px;
		}

		.form-item {margin: 15px 0;}
	}

}