.footer {
	width: 100%;
	min-height: 115px;
	background: $origin_font_color;

	.flex-box {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	span {
		display: block;
		padding-top: 50px;
		color: $secondary_font_color;
		font: 400 13px/18px $primary_font;
	}
}