body {
	color: $primary_font_color;
	font: 300 13px $primary_font;
}
header {
	padding: 30px 0 35px 0;
	background: $origin_font_color;
	width: 100%;
	min-height: 110px;
	.logo {
		display: inline-block;
		float: left;
		img {
			width: 150px;
			height: auto;
		}
		a {
			color: $secondary_font_color;
			font: 700 14px $primary_font;
			display: block;
		}
	}
}
.nav {
	display: flex;
	justify-content: flex-end;
}

.nav li a,
#touch-menu {
	display: block;
	padding: 15px;
	color: $secondary_font_color;
	font: 700 14px $primary_font;
}

.nav li a:hover {
	color: $secondary_font_color;
	background: #fc7d7d;
	border-radius: 10px 9px 9px 10px;
	text-decoration: none;
	transition: all .3s ease-in-out;
}
#touch-menu:hover {color: $secondary_font_color;}
#touch-menu {display: none;}

