.news {
	width: 100%;
	background:  $origin_font_color;

	.title {color: $secondary_font_color;}
	.flex-box {
		min-height: 730px;
		margin-top: 55px;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;

		.col-1, .col-2 {margin-bottom: 50px;}
		.col-1, .col-2, .col-3 {
			flex: 0 1 370px;
			height: auto;
		}
	}
	img {
		max-width: 370px;
		height: auto;
	}
	h3 {
		color: $secondary_font_color;
		font: 700 18px/24px $primary_font;
	}
	span {
		color: $secondary_font_color;
		font: 300 16px/24px $primary_font;
	}
	p {
		padding: 15px 0 10px 0;
		color: $secondary_font_color;
		font: 300 13px $primary_font;
	}
	ul {
		li {
			padding-right: 40px;
			display: inline-block;
		}
		.fa {padding-right: 15px;}
		a {color: $secondary_font_color;}
	}
}