// 			h3 {
// 				color: $secondary_font_color;
// 				font: 700 24px $primary_font;
// 			}
// 			.overlay-caption {
// 				display: flex;
// 				align-items: center;
// 				justify-content: center;
// 				flex-flow: row no-wrap;
// 				a {
// 					display: block;
// 					width: 30px;
// 					height: 30px;
// 					border-radius: 10px;
// 					background: $origin_font_color;


.portfolio {
	width: 100%;
	min-height: 905px;
	background: $origin_font_color;

	.title {color: $secondary_font_color;}
	.flex-box-1 {
		// margin-top: 55px;
		min-height: 290px;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
	}
	.col-1, .col-2 {
		position: relative;
		width: 570px;
		height: auto;
		overflow: hidden;

		&:hover .overlay {display: block;}
		.overlay {
			display: none;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(255, 89, 89, .6);
		}
	}
	.flex-box-2 {
		margin-top: 20px;
		min-height: 500px;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;

		img {
			max-width: 270px;
			height: auto;
		}
	}
}