.services {
	background: #e8e8e8;
	width: 100%;
	min-height: 550px;

	.flex-box {
		margin-top: 55px;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		text-align: center;

		.col-1, .col-2, .col-3 {flex: 0 1 350px;}
	}
	img {
		margin: 55px 0 15px 0;
		width: 120px;
		height: auto;
	}
	h3 {
		color: $primary_font_color;
		font: 400 24px $primary_font;
	}
	p {
		@extend h3;
		font-size: 13px;
		padding-top: 20px;
	}
}
h2.title {
	color: $primary_font_color;
	font: 400 30px/49px $primary_font;
	text-align: center;
}